{
    "env": {
      "browser": true,
      "commonjs": true,
      "es6": true
    },
    "globals": {
      "__dirname": true,
    },
    "extends": ["eslint:recommended", "eslint-config-prettier"],
    "parser": "babel-eslint",
    "parserOptions": {
      "ecmaVersion": "2018"
    }
}
